<nav class="navigation">
  <div class="navigation__brand"><h1><a href="/">node<span class="gray">a</span>uth</a></h1></div>
  <ul class="navigation__links">
    <li><a href="/">Home</a></li>
    <li><a href="/users/register">Register</a></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/logout">Logout</a></li>
</ul>
</nav>
