<header class="header">

	

	<div class="header__content">

		<h1 class="header__title">Welcome Home</h1>

		<div class="header__subtitle">


			<div class="header__description"> <!-- ... --> </div>

			<button class="trigger">
        <i class="fa fa-bars" aria-hidden="true"></i>

				<span>View content</span>

			</button>

		</div><!-- /header__subtitle -->

	</div><!-- /header__content -->

</header><!-- /header -->
