<section class="items-wrap">

  <% if (  data !== undefined ){ %>
  <% for (const datum of data){ %>
    <a href="#" class="item">
  		<img class="item__image" src="<%= datum.image %>" alt="item01"/>
      <% if (  words  ){ %>
        <% for (const word of words){ %>
          <% if(datum.id === words.indexOf(word)+ 1){ %>
            <h2 class="item__title"><%= word %></h2>
          <% } %>
        <% } %>
        <% } %>


  	</a>
  <% } %>
  <% } %>


</section><!-- /items-wrap -->
