<section class="items-wrap">
  
  <% if (  data !== undefined ){ %>
  <% for (const datum of data){ %>
    <a href="#" class="item">
  		<img class="item__image" src="<%= datum.image %>" alt="item01"/>
  		<h2 class="item__title">Magnificence</h2>
  	</a>
  <% } %>
  <% } %>


</section><!-- /items-wrap -->
