<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>

    <%- messages() %>
    <% include ./partials/section-header %>
    <% include ./partials/section-grid %>
  </body>
</html>
