<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>

    <div class="header__container container--open">
    <% include ./partials/section-header %>
    <% include ./partials/section-grid %>
  </div>
  </body>
</html>
