<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    

    <div class="header__container">
    <% include ./partials/section-header %>
    <% include ./partials/section-grid %>
  </div>
  <% include ./partials/footer %>
  </body>
</html>
