* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font: 14px "Josefin Slab", Georgia, Times, "Times New Roman", serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

a,
span.gray,
.fa {
  color: #008c9e;
}
.button {
  padding: 12px 8px 10px;
  color: red;
}

.container {
  max-width: 1200px;
  width: 100%;
  min-width: 280px;
  padding: 8px;
  margin: 0 auto;
  background-color: #f6f6f6;
  height: 100%;
}

/* Navigation */

.navigation {
  width: 100%;
  overflow: hidden;
  min-height: 80px;
  z-index: 20;
  position: fixed;
  background: white;
}

.navigation__brand {
  float: left;
  height: 80px;
  line-height: 80px;
  padding: 8px;
}

.navigation__brand  h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
}
.navigation__brand  h1 a {
  color: inherit;
  text-decoration: none;
}

.navigation__links {
  float: right;
  height: 80px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__links li {
  display: inline;
  float: left;
}

.navigation__links li a {
  display: block;
  padding: 8px;
  line-height: 80px;
  background-color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}

.navigation__links li a:hover,
.active {
  background-color: #008c9e !important;
  color: white;
  transition: all 0.3s;
}

/* Registration Form */
.form {
  max-width: 400px;
  display: block;
  margin: auto;
}
.form__registration--label {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 400px;
  width: calc(100% - 2em);
  vertical-align: top;
  overflow: hidden;
  background: #fff;
}

.form__registration label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 0.9em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 100%;
  text-align: left;
  pointer-events: none;
  color: #d2d2d2;
}

.form__registration--input {
  position: relative;
  display: block;
  float: right;
  padding: 1em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  font-weight: 300;
  font-family: 'Open Sans ', sans-serif;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  padding-left: 2.75em;
  color: #6a7989;
}

.form__registration--input:focus {
  outline: none;
}

.form__registration--label--content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  display: inline-block;
  width: auto;
  -webkit-transform: translate3d(-1.75em, 0, 0);
  transform: translate3d(-1.75em, 0, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.form__registration--before {
  display: inline-block;
  margin-top: 0.9em;
  -webkit-transform: translate3d(-6em, 0, 0);
  transform: translate3d(-6em, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input--filled .form__registration--label--content {
  opacity: 0;
  -webkit-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.input--filled  .form__registration--before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: none !important;
}

.registration__submit {
  padding: 12px 5px;
  border: 2px solid #008c9e;
  color: #008c9e;
  float: none;
  width: 67%;
  margin: auto;
  -webkit-appearance: none;
  background: transparent;
  display: block;
}

.registration__title,
.registration__text,
.form__registration--file--content {
  text-align: center;
  color: #6a7989;
}
.form__registration .form__registration--file--content {
  padding: 12px 5px;
  float: left;
}
.registration__file--upload {
  float: right;
  max-width: 50%;
  padding: 12px 5px;
}
.form__registration .form__image--upload--label {
  width: 40%;
}
.errors {
  color: red;
  text-align: left;
  max-width: 400px;
  margin: auto;
}

/* Home Page */

.home-container {
  background: url('/images/background.jpg') center center;
  height: 100%;
  background-size: cover;
  color: white;
}

.header {
  position: fixed;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url(/images/background.jpg) center center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  color: #f6f6f6;
}

.container--open .header {
  -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
  transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
}

.header__image {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  opacity: 0.8;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .header__image {
  opacity: 0;
  -webkit-transform: translate3d(0, 20%, 0);
  transform: translate3d(0, 20%, 0);
}

/* Header content */
.header__content {
  position: absolute;
  bottom: 0;
  padding: 1.8em;
  width: 100%;
  font-size: 1.15em;
}
/* Header content */
.header .success {
  position: absolute;
  top: 0;
  padding: 1.8em;
  width: 100%;
  font-size: 1.15em;
  color: white;
  list-style-type: none;
  text-align: center;
  transition: all 0.3s;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__title {
  margin: 0 0 20px;
  font-weight: 900;
  font-size: 4em;
  font-family: "Josefin Slab", Georgia, serif;
  line-height: 1;
  -webkit-animation: fadeup 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeup 1s; /* Firefox < 16 */
  -ms-animation: fadeup 1s; /* Internet Explorer */
  -o-animation: fadeup 1s; /* Opera < 12.1 */
  animation: fadeup 1s;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.header__subtitle {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.header__description {
  margin: 0 auto 0 1em;
  line-height: 1.2;
}

.trigger {
  position: relative;
  -webkit-flex: none;
  flex: none;
  overflow: hidden;
  margin: 0 0 0 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: none;
  color: white;
}

.trigger .fa-bars {
  color: white;
}

/* Hide the text */
.trigger span {
  position: absolute;
  top: 100%;
}

/* Main content */
.items-wrap {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 250px 5px 0;
}

.items-wrap::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2e39;
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  pointer-events: none;
}

.container--open .items-wrap::after {
  opacity: 0;
}

.item {
  position: relative;
  -webkit-flex: 1 0 25%;
  flex: 1 0 25%;
  overflow: hidden;
  height: 22vw;
  outline: none;
  border: 5px solid #2a2e39;
  border-width: 0 5px 10px;
  background: #2a2e39;
}

.item__image {
  position: absolute;
  top: 50%;
  min-height: 100%;
  width: 100%;
  opacity: 0.7;
  -webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
  transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.item:hover .item__image {
  opacity: 1;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.item__title {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 1em;
  color: #dbdbdb;
  font-size: 1.85em;
  font-family: "Playfair Display", Georgia, serif;
  line-height: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.item:hover .item__title {
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

/* Media Queries */
@media screen and (max-width: 1440px) {
  .item {
    height: 30vw;
    -webkit-flex: 1 0 33.333%;
    flex: 1 0 33.333%;
  }
}

@media screen and (max-width: 1000px) {
  .item {
    height: 45vw;
    -webkit-flex: 1 0 50%;
    flex: 1 0 50%;
  }
  .item,
  .intro__content {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 590px) {
  .item {
    height: 90vw;
    -webkit-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}
